@import url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  text-align: center;
  background-color: #f3f3f3;
}

h1 {
  font-weight: 100;
  font-size: 32px;
  padding: 40px;
  color: #212121;
}

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .fa {
  font-size: 14px;
  margin-right: 10px;

}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #97144d;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  margin-top: 10px
}
#breadcrumb li:nth-child(even) a {
  background-color: #97144d;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #97144d;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #97144d;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #97144d;
}
#breadcrumb li a:hover {
  background-color: #97144d;
}
#breadcrumb li a:hover:before {
  border-color: #97144d;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #97144d;
}
#breadcrumb li a:active {
  background-color: #97144d;
}
#breadcrumb li a:active:before {
  border-color: #97144d;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #97144d;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
  padding: 3%;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
.columns h1{
  font-size: 25px;
}

.load_input_head 
{
  display: flex;
  margin-top: 10px;
}
.load_input_head .heading{
  width: 40%;
  font-size: 17px;
  text-align: left;
}
.load_input_head .input{
  width: 60%;
}
.load_input_head .input input{
  width: 100%;
  padding: 7px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.slider_input input{
  width: 100%;
  margin-top: 13px;
  accent-color: #97144d;
}
.slider_input_info {
  display: flex;
}
.slider_input_info .col1{
  width: 50%;
  text-align: left;
}
.slider_input_info .col2{
  width: 50%;
  text-align: right;
}
.final_info > * {
  font-size: 20px;
}
.final_info{
  margin-top: 17px;
  background-color: #c4c4c4;
  padding: 10px;
  border-radius: 5px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 11px;

}
.final_info button{
  background-color: #97144d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

}







